<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>Test users - Awesome Python Webapp</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script language="javascript" type="text/javascript">
      $(function () {
        var conn = null;
        var button1 = $("#Stand");
        var button2 = $("#Sit");

        function log(msg) {
          var control = $("#log");
          var date = new Date();
          var date_prompt =
            "(" + date.toISOString().split("T")[1].slice(0, 8) + ") ";
          control.html(control.html() + date_prompt + msg + "<br/>");
          control.scrollTop(control.scrollTop() + 1000);
        }

        function connect() {
          disconnect();
          var wsUri =
            ((window.location.protocol == "https:" && "wss://") || "ws://") +
            window.location.host +
            "/ws";
          log(wsUri);
          update_ui();
          conn = new WebSocket(wsUri);
          log("Connecting...");

          conn.onopen = function () {
            log("Connected.");
            update_ui();
          };

          conn.onmessage = function (e) {
            var data = e.data;
            log(data);
            update_ui();
          };

          conn.onclose = function () {
            log("Disconnected.");
            conn = null;
            update_ui();
          };
        }

        function disconnect() {
          if (conn != null) {
            log("Disconnecting...");
            conn.close();
            conn = null;
            update_ui();
          }
        }

        function update_ui() {
          if (conn == null) {
            $("#status").text("disconnected");
            $("#connect").html("Connect");
            $("#send").prop("disabled", true);
          } else {
            $("#status").text("connected (" + conn.protocol + ")");
            $("#connect").html("Disconnect");
            $("#send").prop("disabled", false);
          }
        }

        button1.click(function () {
          if (conn == null) {
            connect();
          }
          conn.addEventListener("open", function (event) {
            $.get("/api/desk/stand");
          });
        });

        button2.click(function () {
          if (conn == null) {
            connect();
          }
          conn.addEventListener("open", function (event) {
            $.get("/api/desk/sit");
          });
        });

        $("#connect").on("click", function () {
          if (conn == null) {
            connect();
          } else {
            disconnect();
          }
          update_ui();
          return false;
        });

        $("#send").on("click", function () {
          var text = $("#text").val();
          // log('Sending: ' + text);
          log(text);
          conn.send(text);
          $("#text").val("").focus();
          return false;
        });

        $("#text").on("keyup", function (e) {
          if (e.keyCode === 13) {
            $("#send").click();
            return false;
          }
        });
      });
    </script>
  </head>

  <body>
    <h3>Desk</h3>
    <div>
      <button id="connect">Connect</button> | Status:
      <span id="status">disconnected</span>
    </div>
    <div
      id="log"
      style="width: 20em; height: 15em; overflow: auto; border: 1px solid black"
    ></div>
    <form id="chatform" onsubmit="return false;">
      <input id="text" type="text" />
      <input id="send" type="button" value="Send" disabled />
    </form>

    <button type="submit" name="Stand" id="Stand" value="Stand" style="height: auto; width: 200px;">Stand</button>
    <button type="submit" name="Sit" id="Sit" value="Sit">Sit</button>
  </body>
</html>
